{% extends "layout.html" %}
{% load static from staticfiles %}

{% block title %}{{ user.profile.last_name }}'s account'{% endblock %}

{% block body %}
  <ol>
    <h1>{{ user.profile.first_name }} {{user.profile.last_name }}<h1>
    <p>Date of birth: {{ user.profile.date_of_birth }}</p>
    <h2>Bio:
      <p>{{ user.profile.bio }}</p>
    </h2>
    {% with ''|add:user.profile.avatar.url as avatar_image %}
    <img src= {{ user.profile.avatar.url }}>
    <img src= '/accounts/media/images/IMG_20171216_150255702.jpg'>
    {% endwith %}
    <p>Hobby: {{ user.profile.hobby }}</p>
    <p>Country of residence: {{ user.profile.country }}</p>
    <p>Mail: {{ user.profile.email }}</p>
  </ol>
  <a href="{% url 'accounts:profile_edit' %}"><input type="submit" class="button-primary" value="Edit Profile"></a>
{% endblock %}
