{% extends 'layout.html' %}
{% block body %}
    <div class="grid-25">
    </div>
    <div class="grid-75">
        <h1>
          {% if user.is_authenticated %}Welcome {{ user|title }}! {% endif %}
          {% if not user.is_authenticated%}Welcome! {% endif %}
        </h1>
        {% if not user.is_authenticated %}
          <p class="text-indent">Welcome to the User Profile page. Here you can create your very own profile page
            and share it with anyone you want. You can add an avatar, bio, country and more!
          </p>
        {% endif %}
        {% if user.is_authenticated %}
        <p class="text-indent">Feel free to edit your page if you desire and
          share it with anyone you want to. Don't forget to change your avatar everynow and again.
        </p>
        {% endif %}
    </div>
{% endblock %}
